# Environments
.env
.venv
env/
venv/
venv_SS/
venv_SS2/
ENV/
env.bak/
venv.bak/
.vscode/

test_app.py
.streamlit/secrets.toml
_SS/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
*.ipynb_checkpoints
*.ipynb
